[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/yaml-cpp"]
	path = third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog.git
[submodule "serial"]
	path = serial
	url = https://github.com/wjwwood/serial.git
[submodule "third_party/serial"]
	path = third_party/serial
	url = https://github.com/wjwwood/serial.git
